@font-face{
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
body{
    background: #333333;
}
body .title{
    font-family: Montserrat;
    display: flex;
    align-items: baseline;
}
body .title img{
    width: 60px;
}
body .title h1{
    color: #7CCFE6;
    font-size: 42px;
}